html,
body {
  font-family: "Noto Sans TC", sans-serif, "Roboto Mono", monospace;
  margin: 0;
  padding: 0;
  background-color: #afc1d6;
}

header {
  height: 50px;
  box-shadow: 0px 5px 20px rgba(255, 0, 0, 0.72);
}

.img {
  height: 40px;
}

.fa-print {
  color: pink;
}

main {
  margin: 0 auto;
  width: 900px;
  padding: 0 20px;
}

h1 {
  margin-top: 100px;
  font-size: 36px;
}

h2 {
  padding-top: 30px;
  margin: 10px auto;
  font-size: 36px;
}

h4 {
  font-size: 30px;
  margin: 10px auto;
}

h5 {
  font-size: 30px;
}

h6 {
  font-size: 30px;
}

section {
  margin: 0 auto;
}

.fa-caret-down {
  margin-left: 5px;
}

.picture {
  margin: 20px auto;
  height: 200px;
  width: 200px;
}

.picture-img {
  width: 100%;
}

.social {
  text-align: center;
}

.link {
  color: red;
  margin: 3px;
  text-decoration: none;
}